.top_navigation {
    background-color: #1F2937;
    display: flex;
    height: 75px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}
.links {
    padding-left: 55%;
    text-align: right;
    align-content: right;
}
.Odin {
    padding-left: 25px;
    font-size: 24px;
}