.top_signup {
    background-color: #1F2937;
    display: flex;
    height: 75px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}
.info_col{
    flex: 50%;
}
.picture_col {
    flex: 50%;
}
.copyright{
    padding-top: 10px;
    display: flex;
    height: 45px;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}